doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='./public/stylesheets/style.css')
  body
    ul(class="nav")
      li(class="nav-item") 
        a(class="nav-link active" href="./") 首页
      if !user
        li(class="nav-item") 
          a(class="nav-link active" href="./login") 登入
        li(class="nav-item") 
          a(class="nav-link" href="./reg") 注册
      else
        li(class="nav-item") 
          a(class="nav-link" href="./logout") 登出
    if success
      div(class="alert alert-success")
        #{success}
    if error
      div(class="alert alert-error")
        #{error}
    block content
    script(src="./node_modules/jquery/dist/jquery.min.js")
    script(src="./node_modules/bootstrap/dist/js/bootstrap.min.js")
