extends layout

block content
    form(method="post")
        div(class="control-group")
            label(for="post") 推文
            input(type="text" name="post") 
        div(class="")
            button(type="submit" class="brn btn-primary") 发推